<!DOCTYPE html>
<html lang = "en">

<head>
  <title>Content Component</title>
  <meta name = "author" content = "Musa Yazlık">
  <meta name = "description" content = "">
  <meta name = "keywords" content = "">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta charset = "UTF-8">

  <!-- Google Font -->
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href = "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel = "stylesheet">

  <link rel = "stylesheet" href = "../../assets/scss/main.scss">

</head>

<body class = "dark">



<header id = "header">

</header>


<div class = "wrapper-area d-flex ">

  <section id = "sidebar" class = "d-flex position-relative min-vh-100">
  </section>

  <!-- ************ Content Start ************ -->

  <div id = "content" style = "z-index: 0;">

    <div class = "main-page-top mb-2">

      <!-- Slider main container -->
      <div id = "content-top-swiper" class = "swiper-container mySwiper">
        <div class = "swiper-wrapper">
          <a href = "#"
             class = "swiper-slide">
            <img src = "../../assets/img/content.png" class = "img-fluid " alt = "">
          </a>
          <a href = "#"
             class = "swiper-slide">
            <img src = "../../assets/img/content.png" class = "img-fluid " alt = "">
          </a>
          <a href = "#"
             class = "swiper-slide">
            <img src = "../../assets/img/content.png" class = "img-fluid " alt = "">
          </a>
          <a href = "#"
             class = "swiper-slide">
            <img src = "../../assets/img/content.png" class = "img-fluid " alt = "">
          </a>
        </div>
      </div>
    </div>

    <div style = "z-index: 1" class = "position-relative" id = "mainpage-cardui">
      <div class = "container-fluid">
        <div class = "row justify-content-center">
          <div class = "col-12 col-lg-6 d-flex justify-content-center w-100 mb-5 mb-lg-0">
            <div class = "mainpage-cardui-1 w-100 mx-2 mx-lg-3">
              <div class = "container-fluid">
                <div class = "row justify-content-center align-items-center h-100">
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-journal-text"></i>

                        </div>
                        <span class = "cardui-card-text">Catalogue</span>

                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-receipt-cutoff"></i>

                        </div>
                        <span class = "cardui-card-text">All Products</span>

                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-heart"></i>

                        </div>
                        <span class = "cardui-card-text">Favourites</span>

                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-megaphone"></i>

                        </div>
                        <span class = "cardui-card-text">Promotions</span>

                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class = "col-12 col-lg-6 d-flex justify-content-center w-100">
            <div class = "mainpage-cardui-2 w-100 mx-2 mx-lg-3">
              <div class = "container-fluid">
                <div class = "row justify-content-center align-items-center h-100">
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-person"></i>

                        </div>
                        <span class = "cardui-card-text">Account</span>
                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-key"></i>

                        </div>
                        <span class = "cardui-card-text">Change Password</span>

                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-cart"></i>

                        </div>
                        <span class = "cardui-card-text">My Orders</span>

                      </div>
                    </a>
                  </div>
                  <div class = "col-6 p-0">
                    <a href = "">
                      <div class = "mainpage-cardui-card mainpage-cardui-card-1 d-flex flex-column justify-content-around align-items-center">
                        <div class = "icon d-flex justify-content-center align-items-center">
                          <i class = "bi bi-book"></i>

                        </div>
                        <span class = "cardui-card-text">Blog</span>

                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

    <div id = "content-mainpage-top-sellers" class = "mx-4 mb-5">
      <h2>Top Sellers</h2>
      <div class = "lunchbox">

        <div id = "top-sellers" class = "swiper-container">

          <div class = "swiper-wrapper">
            <div class = "swiper-slide">
              <div class = "swiper-card">
                <div class = "swiper-card-img text-center mt-4">
                  <img class = " img-thumbnail" src = "https://via.placeholder.com/120" alt = "">
                </div>
                <div class = "swiper-card-text px-3 py-3">
                  <h3 class = "text-center">Perklone DX PLUS (2 x 5ltrs)HZ</h3>
                  <p class = "m-0 text-center mt-4">List Price: £ 27.91</p>
                </div>
                <div class = "swiper-card-button d-flex justify-content-center mb-3">
                  <a href = "#" type = "button" class = "btn btn-lg">View</a>
                </div>
              </div>
            </div>
            <div class = "swiper-slide">
              <div class = "swiper-card">
                <div class = "swiper-card-img text-center mt-4">
                  <img class = " img-thumbnail" src = "https://via.placeholder.com/120" alt = "">
                </div>
                <div class = "swiper-card-text px-3 py-3">
                  <h3 class = "text-center">Perklone DX PLUS (2 x 5ltrs)HZ</h3>
                  <p class = "m-0 text-center mt-4">List Price: £ 27.91</p>
                </div>
                <div class = "swiper-card-button d-flex justify-content-center mb-3">
                  <a href = "#" type = "button" class = "btn btn-lg">View</a>
                </div>
              </div>
            </div>
            <div class = "swiper-slide">
              <div class = "swiper-card">
                <div class = "swiper-card-img text-center mt-4">
                  <img class = " img-thumbnail" src = "https://via.placeholder.com/120" alt = "">
                </div>
                <div class = "swiper-card-text px-3 py-3">
                  <h3 class = "text-center">Perklone DX PLUS (2 x 5ltrs)HZ</h3>
                  <p class = "m-0 text-center mt-4">List Price: £ 27.91</p>
                </div>
                <div class = "swiper-card-button d-flex justify-content-center mb-3">
                  <a href = "#" type = "button" class = "btn btn-lg">View</a>
                </div>
              </div>
            </div>
            <div class = "swiper-slide">
              <div class = "swiper-card">
                <div class = "swiper-card-img text-center mt-4">
                  <img class = " img-thumbnail" src = "https://via.placeholder.com/120" alt = "">
                </div>
                <div class = "swiper-card-text px-3 py-3">
                  <h3 class = "text-center">Perklone DX PLUS (2 x 5ltrs)HZ</h3>
                  <p class = "m-0 text-center mt-4">List Price: £ 27.91</p>
                </div>
                <div class = "swiper-card-button d-flex justify-content-center mb-3">
                  <a href = "#" type = "button" class = "btn btn-lg">View</a>
                </div>
              </div>
            </div>
            <div class = "swiper-slide">
              <div class = "swiper-card">
                <div class = "swiper-card-img text-center mt-4">
                  <img class = " img-thumbnail" src = "https://via.placeholder.com/120" alt = "">
                </div>
                <div class = "swiper-card-text px-3 py-3">
                  <h3 class = "text-center">Perklone DX PLUS (2 x 5ltrs)HZ</h3>
                  <p class = "m-0 text-center mt-4">List Price: £ 27.91</p>
                </div>
                <div class = "swiper-card-button d-flex justify-content-center mb-3">
                  <a href = "#" type = "button" class = "btn btn-lg">View</a>
                </div>
              </div>
            </div>


          </div>

          <!-- pagination -->
          <div class = "swiper-pagination"></div>

        </div>

        <!-- navigation buttons -->
        <div id = "js-prev1" class = "swiper-button-prev"></div>
        <div id = "js-next1" class = "swiper-button-next"></div>

      </div>

    </div>

  </div>

  <!-- ************ Content End ************ -->

</div>

<footer id = "footer" style="height: 500px;">

</footer>


<script src = "../../assets/js/main.js"></script>
</body>

</html>
