<!DOCTYPE html>
<html lang="en">

<head>
   <title>About Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <section id="about" class="about py-5 ">
      <div class="container">
         <diiv class="row justify-content-center">
            <div class="col-12">
               <h2 class="mb-4 text-center fw-bolder text-primary pt-5">About</h2>
            </div>
            <div class="col-10 col-lg-8">
               <p class=" text-muted text-justify">
                  Whether it's restoration, site preparation, a new facility or facility renovation, we have the
                  experience and personnel to provide the highest quality construction on schedule and within budget
                  With 25 years experience in construction industry our focus is firmly on providing a first class
                  service to all our clients.
               </p>

               <p class=" text-muted text-justify">
                  Our knowledgeable management team led by our managing director, Neill Simpson, offers a wealth of
                  experience ensuring all projects are undertaken in an efficient and professional manner.
                  We employ a large number of exceptional operatives who care about the work they do for our clients,
                  and their skills and craftsmanship is central to our company philosophy where quality is our primary
                  objective.
               </p>

               <p class=" text-muted text-justify">
                  Covering all of London and South East Region, we pride our selves on the good relationships we build
                  with our clients, which coupled with the skills, and knowledge of all our staff enables us to offer an
                  unequalled service.
                  Rest assured that each and every enquiry we receive will be given our prompt attention.
               </p>

            </div>
         </diiv>
      </div>
   </section>

   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
