<!DOCTYPE html>
<html lang="en">

<head>
   <title>Companies Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body >

   <section class="companies position-relative overflow-hidden bg-dark bg-opacity-25">
      <div class="container-lg container-fluid ">
         <div class="row justify-content-center py-5">
            <div class="col-12">
               <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/gassafe_1-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/checkmate-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/exor-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/constructionline-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/gassafe_1-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/checkmate-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/exor-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                     <div class="swiper-slide">
                        <a href="">
                           <img src="../assets/img/constructionline-removebg-preview 1.png" alt="">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
