<!DOCTYPE html>
<html lang="en">

<head>
   <title>Header Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <header class="sticky-top">

      <div class="bg-secondary">
         <div class="container-fluid container-lg">
            <div class="d-flex justify-content-end py-1 align-items-center">
               <span class="text-end text-white fs-12 animate__animated animate__zoomIn">
                  <b class="text-end "><i class="bi bi-telephone me-2"></i>Tel : </b>
                  <a href="+905618241548" class="text-decoration-none text-white">905618241548</a>
               </span>
               <span class="text-end text-white ms-3 fs-12 animate__animated animate__zoomIn">
                  <b class="text-end"><i class="bi bi-envelope me-2"></i>Mail : </b>
                  <a href="mailto:info@info.com" class="text-decoration-none text-white">info@info.com</a>
               </span>
            </div>
         </div>

      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-0 ">
         <div class="container-fluid container-lg py-0">
            <a class="navbar-brand text-dark" href="#">
               <img style="max-width: 120px; max-height: 50px;" src="https://via.placeholder.com/120x50" alt=""
                  srcset="">
            </a>
            <button class="btn bg-secondary navbar-toggler rounded-0 px-2 py-2 rounded-1" type="button"
               data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
               <i class="bi bi-list fw-bold fs-28 text-white"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
               aria-labelledby="offcanvasExampleLabel">
               <div class="offcanvas-header d-flex d-lg-none">
                  <img style="max-width: 120px; max-height: 40px;" src="https://via.placeholder.com/120x40" alt=""
                     srcset="">
                  <a style="width: 32px; height: 32px;" href="javascript:void(0) "
                     class="text-reset p-0 bg-danger d-flex justify-content-center align-items-center rounded-circle shadow-sm"
                     data-bs-dismiss="offcanvas" aria-label="close">
                     <i class="bi bi-x-lg text-white "></i>
                  </a>
               </div>
               <div class="offcanvas-body p-lg-0">
                  <ul class="navbar-nav ms-auto">
                     <li class="nav-item me-2">
                        <a class="nav-link text-secondary fw-normal fs-16" aria-current="page" href="#"> <i
                              class="bi bi-house fw-normal me-2 ps-3 ps-lg-0 mt-3 mt-lg-0"></i>Home</a>
                     </li>
                     <li class="nav-item me-2 mt-3 mt-lg-0">
                        <a class="nav-link  text-secondary fw-normal fs-16" aria-current="page" href="#about"><i
                              class="bi bi-info-circle me-2 ps-3 ps-lg-0"></i>About</a>
                     </li>
                     <li class="nav-item me-2 mt-3 mt-lg-0">
                        <a class="nav-link  text-secondary fw-normal fs-16" aria-current="page" href="#services"> <i
                              class="bi bi-gear me-2 ps-3 ps-lg-0"></i>Services</a>
                     </li>
                     <li class="nav-item me-2 mt-3 mt-lg-0">
                        <a class="nav-link  text-secondary fw-normal fs-16" aria-current="page" href="#products"> <i
                              class="bi bi-box-seam me-2 ps-3 ps-lg-0"></i>Products</a>
                     </li>
                     <li class="nav-item me-2 mt-3 mt-lg-0">
                        <a class="nav-link  text-secondary fw-normal fs-16" aria-current="page" href="#teams"> <i
                              class="bi bi-people me-2 ps-3 ps-lg-0"></i>Teams</a>
                     </li>
                     <li class="nav-item me-2 mt-3 mt-lg-0">
                        <a class="nav-link  text-secondary fw-normal fs-16" aria-current="page" href="#footer"><i
                              class="bi bi-envelope me-2 ps-3 ps-lg-0"></i>Contact</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
   </header>

   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
