<!DOCTYPE html>
<html lang="en">

<head>
   <title>Header Bottom Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <section class="header-bottom linear-color">
      <div class="container">
         <div style="min-height: calc(100vh - 85px);" class="row">
            <div class="col-12 col-lg-6">
               <div class="d-flex flex-column  justify-content-center align-items-center h-100 pt-5">
                  <h2 class="mb-4 fs-1 text-white fw-bolder animate__animated  animate__backInDown text-center">Arien
                     Contractors
                     Limited</h2>
                  <p class="mt-3 fs-16 text-white fw-normal animate__animated animate__backInUp text-center">25 Years in
                     the
                     Construction Industry</p>
               </div>
            </div>
            <div class="col-12 col-lg-6">
               <div class="d-flex justify-content-center align-items-center h-100 ">
                  <img class="img-fluid py-5" src="../assets/img/undraw_under_construction_46pa 1.svg" alt="main-img">
               </div>
            </div>
         </div>
      </div>
   </section>

   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
