<!DOCTYPE html>
<html lang="en">

<head>
   <title>Services Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>


   <section id="services" class="services bg-primary bg-opacity-10 position-relative overflow-hidden mb-5">
      <div
         class="geo h-100 d-md-flex justify-content-between  justify-content-center gap-5 position-absolute w-100 top-100 start-50 translate-middle d-none  ">
         <div>
            <img class="img-fluid" src="../assets/img/Vector.svg" alt="">
         </div>
         <div>
            <img class="img-fluid" src="../assets/img/Vector.svg" alt="">
         </div>
      </div>
      <div class="container container-md">
         <div class="row justify-content-center mb-5">
            <div class="col-12">
               <h2 class=" text-center fw-bolder text-primary my-5 pt-5">Services</h2>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-xl-5 col-xxl-4">
               <ul class="ps-1">
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Commercial Refurbishment
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Residential Refurbishment
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>New Build - Commercial / Industrial
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>New Build - Residential
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Planned Building Maintenance
                  </li>
               </ul>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-xl-5 col-xxl-4">
               <ul class="mt-5 mt-md-0 ps-1">
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Re-active Building Maintenance
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Air Conditioning/Ventilation Systems
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Asbestos Removal
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Damp Proofing Works
                  </li>
                  <li class="d-flex align-items-center fw-bold fs-16 fs-md-18 mt-4">
                     <span style="min-height: 32px; min-width: 32px; "
                        class="d-inline-flex justify-content-center align-items-center bg-primary me-3 rounded-circle border border-2 border-white shadow-sm">
                        <i style="line-height: 22px; font-size: 22px;" class="bi bi-check2-all mt-1 text-white">
                        </i>
                     </span>Timber Treatment
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>

   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
