$utilities: (
   "FontSize": (
      property: font-size,
      class: fs,
      responsive: true,
      values: (
         8: 8px,
         10: 10px,
         12: 12px,
         14: 14px,
         16: 16px,
         18: 18px,
         20: 20px,
         24: 24px,
         28: 28px,
         32: 32px,
         48: 48px,
      ),
   ),
   "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: (
         start: left,
         end: right,
         center: center,
         justify: justify,
      ),
   ),
   "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        primary: $primary-shadow,
        none: none,
      )
    ),
);
