<!DOCTYPE html>
<html lang="en">

<head>
  <title>UED</title>
  <meta name="author" content="Musa Yazlık">
  <meta name="description"
    content="This project is a template project prepared for Universal Express Distribution company">
  <meta name="keywords" content="UED,Universal Express Distribution,html,template ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <!-- Google Font Rubik -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>



  <script src="../../dist/main/main.js"></script>
</body>

</html>
