<!DOCTYPE html>
<html lang = "en">

<head>
  <title>Clean Supply</title>
  <meta name = "author" content = "Musa Yazlık">
  <meta name = "description" content = "">
  <meta name = "keywords" content = "">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta charset = "UTF-8">

  <!-- Google Font -->
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href = "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel = "stylesheet">

  <link rel = "stylesheet" href = "../assets/scss/main.scss">

</head>

<body class = "">

<div id="theme-dark-mode" class = "dark-mode">
  <i class = "bi bi-moon-stars text-white position-absolute"></i>
  <i class = "bi bi-brightness-high text-white position-absolute invisible"></i>
</div>

<script src = "../assets/js/main.js"></script>
</body>

</html>
