<!DOCTYPE html>
<html lang = "en">

<head>
  <title>Footer Component</title>
  <meta name = "author" content = "Musa Yazlık">
  <meta name = "description" content = "">
  <meta name = "keywords" content = "">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta charset = "UTF-8">

  <!-- Google Font -->
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href = "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel = "stylesheet">

  <link rel = "stylesheet" href = "../assets/scss/main.scss">

</head>

<body class = "">

<header id = "header">

</header>

<div class = "wrapper-area d-flex ">


  <section id = "sidebar"  class = "d-flex position-relative min-vh-100">


  </section>


  <div id = "content" class="min-vh-100" style = "z-index: 0;">



  </div>
</div>


<!-- ************ Footer Start ************ -->

<footer id = "footer">
  <div class = "container-xl container-fluid">
    <div class = "row">
      <div class = "col-12 col-md-4">
        <div class = "column-1 d-flex flex-column align-items-center">
          <h3>Download Our App</h3>
          <div class = "app-area">
            <a href = "#">
              <div class = "app-back google-play d-flex mb-5">
                <img src = "../assets/img/footer/google-app.png" alt = "">
                <div class = "app-text d-flex flex-column justify-content-start">
                  <p class = "m-0">GET IT ON</p>
                  <b>Google Play</b>
                </div>
              </div>
            </a>
            <a href = "#">
              <div class = "app-back apple-store d-flex">
                <img src = "../assets/img/footer/apple-app.png" alt = "">
                <div class = "app-text d-flex flex-column justify-content-start">
                  <p class = "m-0">GET IT ON</p>
                  <b>App Store</b>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class = "col-12 col-md-4 my-5 my-md-0">

        <div class = "column-2 h-100">
          <ul class = "nav flex-column justify-content-center align-items-center h-100">
            <li class = "nav-item">
              <a class = "nav-link" href = "#">Blog</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "#">How to order</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "#">Delivery information</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "#">Terms and Conditions</a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href = "#">Card Payments</a>
            </li>
          </ul>
        </div>
      </div>
      <div class = "col-12 col-md-4">
        <div class = "column-3">
          <div class = "address mb-5 d-flex flex-column align-items-center align-items-md-start">
            <h3>Address</h3>
            <address class = "m-0">
              <p class = "m-0">Clean Supply Ltd. 19 Merchant Drive, Mead Lane, Hertford, SG13 7AY.</p>
            </address>
          </div>
          <div class = "phone mb-5 d-flex flex-column align-items-center align-items-md-start">
            <h3>Phone</h3>
            <div class = "d-flex">
              <i class = "bi bi-telephone"></i>
              <a href = "tel:05055555555">0505 555 55 55</a>
            </div>
          </div>
          <div class = "e-mail d-flex flex-column align-items-center align-items-md-start ">
            <h3>E-Mail</h3>
            <div class = "d-flex align-items-center">
              <i class = "bi bi-envelope"></i>
              <a href = "mailto:example@example.com">example@example.com</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class = "col-12 mt-5 pt-4 pb-0 pb-md-2">
      <div class = "copyright ml-md-4 d-flex justify-content-between">
        <div class = "row justify-content-around w-100">
          <div class = "col-12 col-md-9"><p class = "m-0 text-white text-center text-md-left"> ® Clean Supply All Rights
                                                                                               Reserved.</p></div>
          <div class = "col-12 col-md-3">
            <div class = "social mb-3 ">
          <span style = "width: 110px"
                class = "d-flex mx-auto  mt-3 mt-md-0 justify-content-around justify-content-center">
            <a href = ""><i class = "bi bi-facebook"></i></a>
            <a href = ""><i class = "bi bi-twitter"></i></a>
            <a href = ""><i class = "bi bi-instagram"></i></a>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class = "col-12">
    <div class = "by-designer w-100 text-white text-center pb-2">
      <p class = "m-0 text-white text-muted">By designer <span class = "ml-2"><i class = "bi bi-heart"></i></span><a
        class = " text-muted"
        href = "">ai-websolutions</a>
      </p>
    </div>
  </div>
</footer>

<!-- ************ Footer End ************ -->


<script src = "../assets/js/main.js"></script>
</body>

</html>
