<!DOCTYPE html>
<html lang = "en">

<head>
  <title>Header Component</title>
  <meta name = "author" content = "Musa Yazlık">
  <meta name = "description" content = "">
  <meta name = "keywords" content = "">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <meta charset = "UTF-8">

  <!-- Google Font -->
  <link rel = "preconnect" href = "https://fonts.gstatic.com">
  <link href = "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel = "stylesheet">
<!--  -->
  <link rel = "stylesheet" href = "../assets/scss/main.scss">

</head>

<body class = "">



<!-- ************ Header Start ************ -->

<div class = "mobil-logo w-100 p-2  d-sm-none mx-auto d-flex justify-content-center align-items-center">
  <img src = "../assets/img/mobil-logo.svg" alt = "">
</div>

<header id = "header">
  <div class = "container-fluid h-100">
    <div class = "row align-items-center h-100">
      <div class = "col-6 col-sm-8 col-md-4 col-lg-3">
        <div class = "d-flex justify-content-start align-items-center ">
          <button id = "menu-open" class = "menu-icon d-md-none d-flex justify-content-center align-items-center">
            <i class = "bi bi-list"></i>
          </button>
          <div class = "logo d-none d-sm-inline-block ml-4">
            <img src = "../assets/img/logo.svg" alt = "Logo">
          </div>
        </div>
      </div>
      <div class = "col-8 col-md-6 col-lg-7 d-none d-md-flex justify-content-center justify-content-md-start justify-content-lg-center">
        <div class = "search">
          <div class = "dropdown d-flex flex-nowrap w-100 ">
            <input class = "form-control" type = "search" placeholder = "Search" aria-label = "Search">
            <button class = " search-input-button btn d-flex justify-content-center align-items-center"
                    type = "button"
                    data-toggle = "dropdown"
                    data-display = "static"
                    aria-haspopup = "true"
                    aria-expanded = "false">
              <i class = "bi bi-search"></i>
            </button>

            <div class = "header-search-dropdown-menu dropdown-menu dropdown-menu-lg-left">
              <button class = "dropdown-item" type = "button">Action</button>
              <button class = "dropdown-item" type = "button">Another action</button>
              <button class = "dropdown-item" type = "button">Something else here</button>
            </div>


          </div>
        </div>
      </div>
      <div class = "col-6 col-sm-4 col-md-2 col-lg-2">
        <div class = "wrapper d-flex justify-content-center mr-3 mr-md-1">


          <div id = "search-mobile-button" class = "search-button d-md-none">
            <i class = "bi bi-search"></i>
          </div>

          <div class = "basket-blog mx-4">
            <div class = "blog d-none">
              <a href = "">Blog</a>
            </div>
            <div class = "basket d-flex flex-column position-relative">
              <div class = "dropdown d-flex justify-content-center align-items-center">
                <a class = "dropdown-toggle position-relative" type = "button" id = "dropdownMenuButton"
                   data-toggle = "dropdown">
                  <i class = "bi bi-cart2"></i>
                  <span class = "number-of-products position-absolute">9</span>
                </a>

                <div class = "dropdown-menu dropdown-menu-right mx-auto">
                  <ul class = " navbar-nav basket-menu ">
                    <div class = "total pl-4 py-3 d-flex align-items-center">
                      <p class = "m-0">Total : £ <span>128.50</span></p>
                    </div>
                    <div class = "checkout d-flex pl-4 d-flex align-items-center">
                      <p class = "m-0 d-flex align-items-center py-3">Checkout <i class = "icon-arrow-right"></i></p>
                    </div>
                    <div style = "height: 300px;" class = "overflow-auto">
                      <li class = "nav-item d-flex  ">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                      <li class = "nav-item d-flex">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                      <li class = "nav-item d-flex">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                      <li class = "nav-item d-flex">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                      <li class = "nav-item d-flex">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                      <li class = "nav-item d-flex">
                        <div class = "basket-product-img  d-flex justify-content-center align-items-center">
                          <img class = "shadow-sm img-thumbnail" src = "../assets/img/avatar.jpg" alt = "">
                        </div>
                        <div class = "product-information pt-2">
                          <h2 class = "title">PolyRoll - Christmas 40 Seasons Greetings Red & Silver</h2>
                          <div class = "menstrual-information d-flex align-items-center">
                            <label for = "" class = "mr-2 mb-0">
                              <input type = "number" min = "0" max = "20" value = "1" readonly>
                            </label>
                            <button class = "edit d-flex justify-content-center align-items-center mr-2">
                              <i class = "bi bi-pencil-square"></i></button>
                            <button class = "remove d-flex justify-content-center align-items-center">
                              <i class = "bi bi-x"></i></button>
                          </div>
                          <div class = "product-price my-1">
                            <p class = "m-0"><b>£ 246.70</b></p>
                          </div>
                        </div>
                      </li>
                    </div>

                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class = "user position-relative ">
              <span class = "user-avatar d-flex justify-content-center rounded-circle align-items-center">
                <i class = "bi bi-person d-none"></i>
                <img class = "rounded-circle " src = "../assets/img/avatar.jpg" alt = "">
              </span>

            <div class = "user-drop-menu position-absolute ">
              <ul class = " navbar-nav user-menu px-3 py-2 ">
                <a class = "nav-link" href = "">
                  <li class = "nav-item d-flex align-items-center ">
                    <i class = "bi bi-person mr-2"></i>
                    <p class = "m-0">Niel A. Ingram</p>
                  </li>
                </a>
                <a class = "nav-link" href = "">
                  <li class = "nav-item d-flex align-items-center">
                    <i class = "bi bi-cart2 mr-2"></i>
                    <p class = "m-0">My Orders</p>
                  </li>
                </a>
                <a class = "nav-link" href = "">
                  <li class = "nav-item d-flex align-items-center">
                    <i class = "bi bi-box-arrow-right mr-2"></i>
                    <p class = "m-0">Logout</p>
                  </li>
                </a>
                <div class = "languages d-flex justify-content-around mt-4 mb-3 my-2">
                  <a href = "">
                    <img src = "../assets/img/english.png" alt = "">
                  </a>
                  <a href = "">
                    <img src = "../assets/img/turkish.png" alt = "">
                  </a>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class = "mobile-search d-md-none">
  <div class = "search">
    <div class = "dropdown d-flex flex-nowrap w-100 ">
      <input class = "form-control" type = "search" placeholder = "Search" aria-label = "Search">
      <button class = "search-input-button btn d-flex justify-content-center align-items-center"
              type = "button"
              data-toggle = "dropdown"
              data-display = "static"
              aria-haspopup = "true"
              aria-expanded = "false">
        <i class = "bi bi-search"></i>
      </button>

      <div class = "header-search-dropdown-menu dropdown-menu dropdown-menu-left dropdown-menu-lg-left">
        <button class = "dropdown-item" type = "button">Action</button>
        <button class = "dropdown-item" type = "button">Another action</button>
        <button class = "dropdown-item" type = "button">Something else here</button>
      </div>


    </div>
  </div>
</div>


<!-- ************ Header End ************ -->



<div class = "wrapper-area d-flex ">


  <section id = "sidebar" class = "d-flex position-relative min-vh-100">

  </section>


  <div id = "content" class="min-vh-100" style = "z-index: 0;">
    Content Area

  </div>
</div>

<footer id = "footer" style="height: 400px">

</footer>




<script src = "../assets/js/main.js"></script>
</body>

</html>
