@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "loops";

* {
  font-family: "Rubik", sans-serif;
  font-weight: 400px;
  font-size: 16px;
}

a {
  text-decoration: none;
  height: 100%;
  line-height: 100%;
}

p {
  margin: 0 !important;
}

/* Custom Class Start */

.icon-black::before {
  color: $secondary !important;
}

.icon-white::before {
  color: $white !important;
}

.po-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ho-primary:hover {
  background: $primary;
}

.he-400 {
  max-height: 400px;
  min-height: 200px;
}

.po-l-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.dropdown-item.active .icon-black::before,
.dropdown-item:active .icon-black::before {
  color: #fff !important;
  text-decoration: none;
  background-color: $primary;
}

.pxy-2-6 {
  padding: 2px 6px;
}

.dropdown-toggle::after {
  display: none;
}

/* Custom Class Start */

/* =============
Header Area Css Start
===============*/

header {
  .navbar {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d4d4d4' fill-opacity='0.08'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  }

  .navbar-nav li a {
    color: $secondary !important;
  }

  @media (min-width: 992px) {
    .offcanvas {
      visibility: visible;
      position: relative;
      background: none;
      border: none;
      justify-content: end;
    }
  }

  @media (max-width: 992px) {
    .offcanvas {
      width: 250px !important;
    }

    .offcanvas-start-lg {
      top: 0;
      left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateX(-100%);
    }
  }
}

/* =============
Header Area Css End
===============*/

/* =============
Menu Area Css Start
===============*/

.menu-area {
  li {
    a {
      color: $secondary;
      padding: 10px 16px !important;
      border-radius: 10px;
      span::before {
        color: $secondary;
      }

      &[aria-expanded="true"] {
        background: $gray-300;
        border-radius: 10px;

        span.bi-chevron-right {
          transform: rotate(90deg);
          transition: 0.5s ease;
        }
      }

      &[aria-expanded="false"] {
        background: none;
        border-radius: 10px;
        span.bi-chevron-right {
          transform: rotate(0deg);
          transition: 0.5s ease;
        }
      }
    }

    &.active {
      background: $primary;
      border-radius: 10px;
      box-shadow: 0 3px 4px rgba($primary, 0.3);
      a {
        color: $white !important;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.sub-menu {
      li {
        margin-left: 8px;
        font-size: 12px;
        &.active {
          background: $primary;
          border-radius: 10px;
          box-shadow: 0 3px 4px rgba($primary, 0.3);
          a {
            color: $white !important;

            span::before {
              color: $white;
            }
          }
        }
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &:first-child {
          margin-top: 8px;
        }
      }
    }
  }
}

/* =============
Menu Area Css End
===============*/

/* =============
 Animations Start
===============*/

@media (max-width: 576px) {
  .basket {
    .dropdown-menu {
      left: -200px;
    }
  }
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* =============
 Animations Start
===============*/

.content {
  .carousel-area {
    img {
      max-height: 400px;
      min-height: 200px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
}
