<!DOCTYPE html>
<html lang="en">

<head>
   <title>Footer Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <footer id="footer" class="bg-secondary pt-5">
      <div class="container-fluid container-lg">
         <div class="row justify-content-center">
            <div class="col-10 col-lg-6">
               <div class="column1 text-center text-lg-start">
                  <div class="logo text-center mb-4">
                     <img class="mb-3 img-fluid" src="https://via.placeholder.com/300x120" alt="">
                     <h3 class="text-white fw-bolder fs-24 text-center">Arien Contracts Ltd.</h3>
                  </div>
                  <div class="infor pb-5">
                     <div class="address mb-3">
                        <p class="py-2 px-4 bg-primary bg-opacity-25 text-white d-inline-flex fs-20 fw-bold"><i
                              class="bi bi-geo-alt me-3"></i>Address</p>
                        <address class="text-white fs-16">55 Nigel Road , Peckham, London , SE15 4NP</address>
                     </div>
                     <div class="phoneFax mb-3">
                        <p class="py-2 px-4 bg-primary bg-opacity-25 text-white d-inline-flex fs-20 fw-bold"><i
                              class="bi bi-telephone me-3"></i>Tel/Fax</p>
                        <p class="text-white fs-16"><a href="#" class="text-decoration-none text-white">0555 555
                              5555</a> / <a href="#" class="text-decoration-none text-white">0555 555 5555</a></p>
                     </div>
                     <div class="mail mb-3">
                        <p class="py-2 px-4 bg-primary bg-opacity-25 text-white d-inline-flex fs-20 fw-bold"><i
                              class="bi bi-envelope me-3"></i>E-mail</p>
                        <p class="text-white fs-16"><a href="#"
                              class="text-decoration-none text-white">info@ariencontractors.com</a></p>
                     </div>
                     <div class="officeHours mb-3">
                        <p class="py-2 px-4 bg-primary bg-opacity-25 text-white d-inline-flex fs-20 fw-bold"><i
                              class="bi bi-alarm me-3"></i>Office Hours</p>
                        <p class="text-white fs-16">Mon - Fri: 7:00am - 4:00pm Sat - Sun: Closed</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-10 col-sm-8 col-md-6 col-lg-6">
               <div class="column2">
                  <form action="">
                     <div class="mb-3">
                        <label for="yourName" class="form-label text-white fw-bold">Your Name</label>
                        <input type="text" class="form-control border-3 border-primary" id="yourName"
                           placeholder="Your Name...">
                     </div>
                     <div class="mb-3">
                        <label for="E-mail" class="form-label text-white fw-bold">Email Address</label>
                        <input type="email" class="form-control  border-3 border-primary" id="E-mail"
                           placeholder="info@info.com">
                     </div>
                     <div class="mb-3">
                        <label for="Subject" class="form-label text-white fw-bold">Subject</label>
                        <input type="text" class="form-control  border-3 border-primary" id="Subject"
                           placeholder="Subject...">
                     </div>
                     <div class="mb-4">
                        <label for="Message" class="form-label text-white fw-bold">Message</label>
                        <textarea class="form-control  border-3 border-primary" id="Message" rows="8"
                           placeholder="Message"></textarea>
                     </div>
                     <div class="mb-4 mt-4 text-center">
                        <button class="btn btn-primary px-4 py-2 text-white fw-bold rounded-0">Submit</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-12">
               <div class="copyright text-center">
                  <p class="text-white">Designed By<i class="bi bi-heart mx-2 text-danger"></i> Ai Web Solutions</p>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
