<!DOCTYPE html>
<html lang="en">

<head>
   <title>Pagination Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <section id="products" class="mt-5">
      <div class="container container-md">
         <div class="row justify-content-center mb-5">
            <!--  Pagination Area -->
            <div class="col-12">
               <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                     <li class="page-item">
                        <a class="page-link rounded-0  border-secondary" href="#">
                           <i class="bi bi-chevron-left"></i>
                        </a>
                     </li>
                     <li class="page-item">
                        <a class="page-link border-secondary" href="#">1</a>
                     </li>
                     <li class="page-item active">
                        <a class="page-link border-secondary" href="#">2</a>
                     </li>
                     <li class="page-item">
                        <a class="page-link border-secondary" href="#">3</a>
                     </li>
                     <li class="page-item">
                        <a class="page-link  rounded-0 border-secondary" href="#">
                           <i class="bi bi-chevron-right"></i>
                        </a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </section>


   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
