<!DOCTYPE html>
<html lang="en">

<head>
   <title>Products Component</title>
   <meta name="author" content="Musa Yazlık">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet">
   <!-- Style Css -->
   <link rel="stylesheet" href="../../dist/main/main.css">
</head>

<body>

   <section id="products">
      <div class="container container-md">
         <div class="row justify-content-center mb-5">
            <div class="col-12">
               <h2 class=" text-center fw-bolder text-primary my-5 pt-5">Products</h2>
            </div>
            <div class="products-product">

               <div class="row gy-4 justify-content-center justify-content-sm-start">
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>

                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-10 col-sm-6 col-lg-4 col-xl-3">
                     <div class="card border-0 shadow  w-100 hover">
                        <div class="card-header linear-color p-0">
                           <img src="../assets/img/hospital-ward-1338585_1920.jpg"
                              class="card-img-top img-fluid opacity-50" alt="...">
                        </div>
                        <div class="card-body">
                           <h5 class="card-title fs-20 text-secondary fw-bolder text-center mt-2">Card title</h5>
                           <p class="fs-14 lh-base fw-normal text-muted text-center">
                              Some quick example text to build on the card title and make up the bulk of the card's
                              content.
                           </p>
                           <div class="text-center mt-5 mb-3">
                              <a href="#" class="btn btn-primary text-white shadow-primary">Review Product</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12">
                     <p class=" text-center fw-bolder text-muted mt-3 fs-20 opacity-50">and more...</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <script src="../../dist/main/main.js"></script>
   <script>

   </script>
</body>

</html>
